*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #2F2F2F;
}
.body-content{
	width: 70%;
	height: 80%;
	position: absolute;
	margin-top: 5%;
	margin-left: 15%;
	background-image: url('https://inbusiness.kz/images/small/37/images/bNaJDgVS.jpg');
	background-size: 100%;
}
.weather-content{
	width: 60%;
	height: 100%;
	display: inline-block;
	position: absolute;
	color: #fff;
}
.temp{
	display: inline-block;
	font-size: 70px;
}
.ikon-temp{
	display: inline-block;
	font-size: 60px;
	padding-left: 10px;
}
.weather-content__info{
	display: inline-block;
	line-height: normal;
}
.weather-content h2{
	font-size: 30px;
}
.weather-content__txt{
	bottom: 10%;
	left: 10%;
	position: absolute;
	font-family:  Snell Roundhand;
}
.city-content{
	right: 0;
	width: 39.5%;
	height: 100%;
	display: inline-block;
	position: absolute;
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.5);
}
.city-location{
	width: 80%;
	height: 50%;
	margin-left: 10%;
	border-bottom: 1px solid #807e7e;
}
.txt-location{
	color: #bfbfbf;
	margin-top: 10%;
	padding-bottom: 2%;
	margin-bottom: 2%;
	border-bottom: 1px solid #807e7e;

}
.name-location{
	overflow: scroll;
	height: 65%;
	overflow-x:hidden;
	margin-top: 8%;
	margin-bottom: 3%;
}
.name-location ul li{
	color: #bfbfbf;
	padding-top: 5%;
	padding-bottom: 3%;
	cursor: pointer;
}
.name-location ul li:hover{
	color: #c7c7c7;
	border-bottom: 1px solid #bfbfbf;
}
.name-location::-webkit-scrollbar{
	width: 3px;
	background-color: #696969;
	border-radius: 30px;
}
.name-location::-webkit-scrollbar-thumb{
	background-color: #a6a6a6;
	border-radius: 30px;
}
.weather-details{
	width: 80%;
	height: 48%;
	margin-left: 10%;
	color: #bfbfbf;
	margin-top: 5%;
}
.weather-details p{
	display: inline-block;
	text-align: right;
	position: absolute;
	right: 12%;
}
.weather-details div{
	padding-top: 5%;
}